/MessagingModule/nbproject/private/
/MessagingModule/build/
/MessagingModule/dist/
/JMSWebApp/nbproject/private/
/JMSWebApp/build/
/JMSWebApp/dist/
/SingletonApp/nbproject/private/
/SingletonApp/build/
/SingletonApp/dist/
/TrialJSPApp/nbproject/private/
/TrialJSPApp/build/
/TrialJSPApp/dist/
/TestStatesApp/TestStatesApp-war/dist/
/JPAJavaApp/nbproject/private/
/JPAJavaApp/build/
/JPAJavaApp/dist/
/JPAWebApp/nbproject/private/
/JPAWebApp/build/
/JPAWebApp/dist/
/PublishApp/nbproject/private/
/PublishApp/build/
/PublishApp/dist/
/WebServiceApp/nbproject/private/
/WebServiceApp/dist/
/WebServiceApp/build/
/ServiceClientApp/nbproject/private/
